# Hugo build output
public/
resources/_gen/

# Hugo cache
.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env
.env.*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
